:root {
  --clr-neutral-900: hsl(207, 19%, 9%);
  --clr-neutral-100: hsl(0, 0%, 100%);
  --clr-accent-400: hsl(142, 90%, 61%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  scroll-behavior: smooth;
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
}

body::-webkit-scrollbar {
  width: 7px;
}

body::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.461);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background: #00ff40;
  border-radius: 2px;
}

nav {
  width: 100%;
  height: 100px;
  background-color: #0e1111;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
}

.nav-left {
  width: 12.5rem;
  height: 100%;
  margin-top: 7px;
  position: relative;
}

.nav-left img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.nav-right {
  height: 100%;
  width: fit-content;
  display: flex;
  align-items: center;
  padding: 0 10px;
  gap: 0.125rem;
  flex-wrap: nowrap;
}

.nav-right a {
  text-decoration: none;
  color: white;
  font-size: 1.0625rem;
  padding-right: 1.563vw;
  padding-left: 1.563vw;
  border-right: 1px solid #bbbbbb;
  position: relative;
}
.nav-right a:nth-child(-n + 4) {
  color: #c7c7c7;
  transition: all 0.35s ease;
}

.nav-right a:nth-child(-n + 4)::after,
.nav-right a:nth-child(-n + 4)::before {
  content: "";
  position: absolute;
  height: 14px;
  width: 14px;
  transition: all 0.35s ease;
  opacity: 0;
}

.nav-right a:nth-child(-n + 4)::before {
  content: "";
  right: 7%;
  top: -20%;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  transform: translate(-100%, 50%);
}

.nav-right a:nth-child(-n + 4)::after {
  content: "";
  left: 7%;
  bottom: -20%;
  border-top: 2px solid #fff;
  border-right: 2px solid #ffffff;
  transform: translate(100%, -50%) rotate(180deg);
}

.nav-right a:hover:nth-child(-n + 4)::after {
  transform: translate(0, 0) rotate(180deg);
  opacity: 1;
}
.nav-right a:hover:nth-child(-n + 4)::before {
  transform: translate(0, 0);
  opacity: 1;
}

.nav-right a:nth-child(-n + 4):hover {
  color: #fff;
}

.nav-right a:nth-child(5) {
  border: none;
}

.nav-right a:nth-child(6) {
  background-color: transparent;
  border: 2px solid #00ff40;
  color: #ffffff;
  font-size: 1.1rem;
  font-weight: 400;
  position: relative;
  padding: 6px 12px;
  width: 188px;
  height: 2.8125rem;
  transition: all linear 0.5s;
  border-radius: 4px;
  overflow: hidden;
  text-align: center;
}

.nav-right a:nth-child(6)::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  z-index: -1;
  border-radius: 50%;
  /* background: #32de84; */
  background-color: #00ff40;
  transition: all linear 0.5s;
}

.nav-right a:nth-child(6):hover {
  color: black;
  z-index: 3;
}

.nav-right a:hover:nth-child(6)::after {
  width: 4.0625rem;
  height: 4.0625rem;
  transform: translate(-50%, -50%) scale(3);
}

.nav-menu {
  color: white;
  font-size: 35px;
  display: none;
  cursor: pointer;
  transition: all 0.35s ease-in-out;
}

.nav-2 {
  position: fixed;
  top: 0px;
  right: 0;
  width: 100%;
  height: 100vh;
  z-index: 999;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  text-align: left;
  background: #fff;
  display: none;
}
.nav-2 a {
  width: 100%;
  font-weight: 500;
  font-size: 30px;
  text-decoration: none;
  display: flex;
  padding: 10px 30px;
  align-items: center;
  color: black;
}

.closingnav {
  justify-content: flex-end;
  position: fixed;
  top: 10%;
  z-index: 1000;
}
.closingnav i {
  font-size: 40px;
}

@media (max-width: 680px) {
  nav {
    padding: 0 10px;
  }
  .nav-right a:nth-child(-n + 6) {
    display: none;
  }
}

@media (max-width: 1100px) {
  .nav-right a:nth-child(-n + 5) {
    display: none;
  }
  .nav-menu {
    padding-left: 20px;
    display: block;
  }
}

.section01 {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.section01 video {
  width: 120%;
  height: 120%;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: -1;
  transform: translate(-50%, -50%);
}

.section01 h1,
h3 {
  color: white;
  text-shadow: 2px 2px 0px black;
}

.homepagetext {
  position: absolute;
  top: 32%;
  width: 80%;
  left: 10%;
  height: 60%;
  padding: 20px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.homepagetext h1 {
  font-size: 3.8vw;
  color: #00ff40;
  font-weight: 700;
  margin-bottom: 20px;
}

.homepagetext h3 {
  font-size: 1.3vw;
  font-weight: 400;
  width: 70%;
  text-align: center;
  margin-bottom: 10px;
}

.homepagetext button {
  font-size: 1.1rem;
  width: 120px;
  height: 40px;
  margin-top: 20px;
  background-color: rgba(0, 0, 0, 0.267);
  border: 1.5px solid #00ff40;
  color: #ffffff;
  position: relative;
  padding: 6px 12px;
  transition: all linear 0.5s;
  border-radius: 3px;
  overflow: hidden;
  text-align: center;
  cursor: pointer;
  text-shadow: 1px 1px 10px black;
  font-weight: 500;
}

.homepagetext button::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  z-index: -1;
  border-radius: 50%;
  background-color: #00ff40;
  transition: all linear 0.5s;
}

.homepagetext button:hover {
  color: black;
  z-index: 3;
  text-shadow: none;
}

.homepagetext button:hover::after {
  width: 2.6rem;
  height: 2.6rem;
  transform: translate(-50%, -50%) scale(3);
}

@media (max-width: 1100px) {
  .section01 video {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}

@media (max-width: 679px) {
  .homepagetext {
    width: 100%;
    left: 0%;
    top: 20%;
    padding: 0 10px;
    display: flex;
    align-items: start;
  }
  .homepagetext h1 {
    font-size: 7vw;
    margin-bottom: 20px;
    width: 100%;
  }

  .homepagetext h3 {
    font-size: 4vw;
    width: 100%;
    text-align: left;
  }

  .homepagetext button {
    margin-left: 10px;
  }
}

.section02 {
  width: 100vw;
  height: 120vh;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
  /* background: #f0fff0; */
  background: #ffffff;
}

.left-2 {
  width: 45vw;
  height: 100vh;
  text-align: center;
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.left-2 h1 {
  font-size: 3vw;
  font-weight: 600;
  font-family: "Open Sans", sans-serif;
}
.left-2 p {
  padding-top: 20px;
  font-size: 1.3vw;
  line-height: 1.7;
  text-align: center;
}

.sign {
  
  width: 20vw;
  height: 15vh;
  overflow: hidden;
  position: relative;
}

.sign img{
  width: 110%;
  height: 200%;
  position: absolute;
  top: -30%;
  left: 0;
  background-size: cover;
}

.left-2 h4 {
  margin-top: 10px;
}

.right-2 {
  width: 50vw;
  height: 100vh;
  position: relative;
}

.right2img {
  position: absolute;
  top: 2.5%;
  left: 5%;
  width: 80%;
  height: 95%;
}

.right2img img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

#signbottom {
  position: relative;
  bottom: 3%;
  font-size: 1rem;
  color: #454545;
}

@media (max-width: 1100px) {
  .section02 {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
  }

  .left-2 {
    width: 90vw;
    height: auto;
  }

  .left-2 h1 {
    font-size: 4vw;
  }
  .left-2 p {
    font-size: 2vw;
  }

  .right-2 {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .right2img {
    width: 95%;
    position: initial;
  }

  .right2img img {
    object-position: 30% 30%;
  }
}

@media (max-width: 679px) {
  .left-2 h1 {
    font-size: 10vw;
  }

  .left-2 p {
    font-size: 4vw;
  }
  #signbottom {
    font-size: .8rem;
  }

  .sign{
    width: 50%;
  }
}

.section03 {
  width: 100vw;
  height: auto;
  background: #fff;
}

.heading3 {
  width: 100%;
  text-align: center;
  padding-top: 20px;
  place-items: center;
  height: auto;
}

.heading3 h1 {
  width: 100%;
  height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 45px;
  font-weight: 600;
  font-family: "Open Sans", sans-serif;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.card-container .card-box {
  position: relative;
  width: 350px;
  height: 400px;
  padding: 30px;
  background-color: #fff;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  margin: 20px;
  box-sizing: border-box;
  overflow: hidden;
  text-align: center;
}

.card-icon {
  position: relative;
  width: 70px;
  height: 70px;
  color: #fff;
  background: #23e623;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  border-radius: 50%;
  font-size: 700;
  transition: 1s;
  font-size: 2rem;
  box-shadow: 0 0 0 0 #23e623;
}

.card-box:hover .card-icon {
  box-shadow: 0 0 0 400px #23e623;
}

.card-content {
  position: relative;
  z-index: 1;
  transition: 0.5s;
}

.card-box:hover .card-content {
  color: #fdfdfd;
}

.card-box:hover p {
  text-shadow: 1px 1px 1px rgb(82, 82, 82);
}

.card-content h3 {
  font-size: 20px;
  margin: 10px 0;
  padding: 0;
  text-shadow: none;
  color: #000;
  font-weight: 500;
}

.card-box a {
  display: inline-block;
  padding: 10px 20px;
  background: #fff;
  border-radius: 4px;
  text-decoration: none;
  color: #000;
  margin-top: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
.card-box:hover h3 {
  color: #000000;
}

.card-box::before {
  content: "";
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.2);
  z-index: 2;
  pointer-events: none;
}

hr {
  width: 90%;
  color: #00ff40;
  border: #65d495 solid 2px;
  border-radius: 10px;
  display: flex;
  margin: auto;
}

.section04 {
  width: 100vw;
  height: auto;
}

.top04 {
  width: 100%;
  height: 50vh;
  background-image: url(image/test.jpg);
  background-size: cover;
  background-position: 40% 40%;
}

.bottom04 {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  text-align: center;
  background: linear-gradient(90deg, #00d2ff 0%, #3a47d5 100%);
}

.bottom04 h5 {
  font-size: 2vw;
}

.bottom04 h3 {
  font-size: 3vw;
  margin-top: 30px;
}

.bottom04 p {
  font-size: 1.5vw;
  color: white;
  padding: 0 90px;
}

@media (max-width: 679px) {
  .bottom04{
    height: auto;
  }
  .top04 {
    background-position: 60% 40%;
  }
  .bottom04 h3 {
    font-size: 6vw;
    margin-top: 15px;
  }

  .bottom04 h5 {
    font-size: 4vw;
  }
  .bottom04 p {
    font-size: 4vw;
    padding: 0 20px;
  }
}

.section05 {
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: white;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(image/truckblack.jpg);
  padding: 40px;
}

.section05 h3 {
  font-size: 3vw;
  margin-top: 30px;
}

.section05 span {
  color: #00ff40;
}

.section05 p {
  font-size: 1.5vw;
  padding: 0 90px;
}

@media (min-width:992px){
  .section05{
    background-attachment: fixed;
  }
}

@media (max-width: 679px) {
  .section05 {
    background-position: 30% 70%;
    padding: 10px 10px;
    height: auto;
    
  }

  .section05 h3 {
    font-size: 5vw;
    margin-top: 10px;
  }

  .section05 p {
    font-size: 1rem;
    padding: 0 20px;
  }

  .section05 p:nth-last-child(-n + 6) {
    text-align: left;
  }
}

footer {
  width: 100vw;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000000;
  flex-wrap: wrap;
}

.footerlogo{
  width: 25vw;
  height: 100%;
}

.footerlogo img{
  width: 100%;
  height: 100%;
}

.footer-bottom{
  width: 75vw;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  flex-wrap: wrap;
}

.column{
  padding: 40px 15px;
}

.column h4{
  font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}

.column h4::before{
  content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: rgb(0, 255, 64);
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}

.column ul li:not(:last-child){
  margin-bottom: 10px;
}

.column ul li a{
  font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}

.column ul li a:hover{
  color: #ffffff;
	padding-left: 8px;
}

.location{
  text-align: left;
}
.location span{
  font-size: 1rem;
  font-weight: 400;
  margin-top: .625rem;
  cursor:pointer;
  z-index: 3;
}

.location span a{
  text-decoration: none;
  color: white;
}

.footer-map{
  display: flex;
  flex-direction: column;
}

.col-text{
  line-height: 1.1;
}

@media (max-width: 730px){
  footer{
    flex-direction: column;
    position: relative;
    justify-content: center;
  }

  .footerlogo{
    width: 50%;
    height: 50%;
  }

  .footer-bottom{
    justify-content: left;
  }
.column{
  margin-top: 20px;
}

.footer-map{
  padding: 10px;
}

.footer-map div{
  position: relative;
  width: 100%;
  left: -15%;
}

}

.footer-last{
  background: black;
  text-align: center;
  padding: 15px;
  font-size: 0.7rem;
}